<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>School Information</title>
  </head>
  <body background={% static 'images/c.jpg'%}>
    <h1>The Information of {{school.name}}</h1>
    <p>School Name : {{school.name}}</p>
    <p>Principal Name : {{school.principal}}</p>
    <p>School Location : {{school.location}}</p>
    <div class="">
      <a href="{% url 'app1:school_update' pk=school.pk %}">Update</a><br>
      <a href="{% url 'app1:school_delete' pk=school.pk %}">Delete</a><br>
    </div>
  </body>
</html>
